<div class="container">
    <!--Section: FAQ-->
<section>
  <h2 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h2>
  <p class="text-center mb-5">
    Tu znajdziesz odpowiedzi na najczesciej zadawane pytania:
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Czy oferujecie sprzedaż pojazdów?</h4>
      <p>
        Na dzień dzisiejszy nie sprzedajemy pojazdów, jednak są plany, aby w przyszłości zacząć.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i>Czy można umówic jazdę próbna więcej niż jednego pojazdu w jednym terminie?</h4>
      <p>
        Można, w celu umówienia takiej wizyty prosimy o kontakt.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Czy oferta pojazdów będzie rozszerzana poza rowery elektryczne?
      </h4>
      <p>
        Rozszerzenie oferty pojazdów poza rowery elektryczne jest w planach.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> A simple
        question?
      </h6>
      <p>
        Yes. Go to the billing section of your dashboard and update your payment information.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> A simple
        question?
      </h6>
      <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
        reason.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Another
        question that is longer than usual</h6>
      <p>
        Of course! We re happy to offer a free plan to anyone who wants to try our service.
      </p>
    </div>
  </div>
</section>
</div>
<!--Section: FAQ-->



