
<form class="needs-validation" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
  <div class="tab" style="height: 100px; background: rgb(0, 0, 0); ">
    <h1 style="text-align: center; padding-top: 20px; color: white;">Wybierz model:</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2a" value="jed" name="ck2" ngModel required>
            <label class="custom-control-label" for="ck2a">
                <img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2b" value="dwa" name="ck2" ngModel>
            <label class="custom-control-label" for="ck2b">
                <img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2c" value="tri" name="ck2" ngModel>
            <label class="custom-control-label" for="ck2c">
                <img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
</div>


  <div class="tab" style="height: 100px; background: rgb(0, 0, 0); ">
    <h1 style="text-align: center; padding-top: 20px; color: white;">Wybierz date:</h1>
  </div>



<div class="row justify-content-center">
  <div class="col-md-4">
  <label for="start"></label>
    <input type="date" id="start" name="trip-start" value="today" min="today" max="2050-12-31" ngModel required>
  </div>
  <div class="col-md-4">
    <div class="form-group form-check-inline">
      <label for="inputState">  Godzina: </label>
      <select id="inputState"  class="form-control" name="hour" ngModel required>
        <option selected>Choose...</option>
        <option>6:00</option>
        <option>7:00</option>
        <option>8:00</option>
        <option>9:00</option>
        <option>10:00</option>
        <option>11:00</option>
        <option>12:00</option>
        <option>13:00</option>
        <option>14:00</option>
        <option>15:00</option>
        <option>16:00</option>
        <option>17:00</option>
      </select>
    </div>
  </div>
  </div>
    <div class="tab" style="height: 100px; background: rgb(0, 0, 0);">
      <h1 style="text-align: center; padding-top: 20px; color: white;">Dane osobowe:</h1>
    </div>
    <div class="container">
    <div class="form-group">
      <label for="validationDefault01">Imie</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Wpisz swoje imie" name="imie" ngModel minlength="3" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
    <div class="form-group">
      <label for="validationDefault01">Nazwisko</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Wpisz swoje nazwisko" name="nazwisko" ngModel minlength="3" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Adres e-mail</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="wpisz swój e-mail" name="email" ngModel required minlength="5">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Numer telefonu</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="wpisz swój numer telefonu" name="telefon" ngModel required minlength="9">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Wiadomość</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Wpisz dodatkowe informacje" rows="3" name="wiadomosc" ngModel ></textarea>
    </div>
    <div class="row">
    <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary btn-lg">Zarezerwuj</button>
    </div>
  </div>
  </form>


