<form>
    <h1>Wybierz model:</h1>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1"><img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" /></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2"><img src=".\assets\Super73_RX-DarkEarth_Hero_2_1500x1000_54734cf8-2ebd-4ae5-90e9-7aab28d4490a_1024x1024.webp" /></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2"><img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" /></label>
    </div>

    <h1>Wybierz date:</h1>


    <h1>Dane osobowe:</h1>
    <div class="form-group">
      <label for="exampleFormControlInput1">Imie</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Wpisz swoje imie">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nazwisko</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Wpisz swoje nazwisko">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Adres e-mail</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="wpisz swój e-mail">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Numer telefonu</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="wpisz swój numer telefonu">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Wiadomość</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Wpisz dodatkowe informacje" rows="3"></textarea>
    </div>
  </form>


