
input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}


:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.container {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow-x: hidden;
  }


  input.valid{
    border-color: #900;
    background-color: rgb(172, 255, 179);
  }

  input:focus.invalid {
    outline: none;
  }

  /* This is the style of our error messages */
  .error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }



  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  input[type="date"]{
      background-color: #000000;
      padding: 15px;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      font-family: "Roboto Mono",monospace;
      color: #ffffff;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 5px;
  }
  ::-webkit-calendar-picker-indicator{
      background-color: #ffffff;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
  }

  .input-group-append {
    cursor: pointer;
  }
