
<form class="needs-validation" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
  <div class="tab" style="height: 100px; background: rgb(0, 0, 0); ">
    <h1 style="text-align: center; padding-top: 20px; color: white;">Wybierz model:</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2a" value="malibu" name="ck2" ngModel required>
            <label class="custom-control-label" for="ck2a">
                <img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2b" value="dwa" name="ck2" ngModel>
            <label class="custom-control-label" for="ck2b">
                <img src=".\assets\xr1_01-500x333.jpg.pagespeed.ic.Y2y9n504N6.webp" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2c" value="nexus" name="ck2" ngModel>
            <label class="custom-control-label" for="ck2c">
                <img src=".\assets\xBasic-Nexus-500x333.jpg.pagespeed.ic.Smj0ECHDLD.webp" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
</div>




    <div class="tab" style="height: 100px; background: rgb(0, 0, 0);">
      <h1 class="d-flex justify-content-center" style="text-align: center; padding-top: 20px; color: white;">Dane osobowe i data:</h1>
    </div>




    <div class="container">

      <div class="d-flex justify-content-center">

        <label for="start">Data</label>
          <input type="date" id="start" name="trip-start" value="today" min="today" max="2050-12-31" ngModel required>
      </div>

      <div class="form-group">
        <label for="inputState">  Godzina: </label>
        <select id="inputState"  placeholder="Wybierz date" class="form-control" name="hour" ngModel required>
          <option selected>Wybierz godzine...</option>
          <option>6:00</option>
          <option>7:00</option>
          <option>8:00</option>
          <option>9:00</option>
          <option>10:00</option>
          <option>11:00</option>
          <option>12:00</option>
          <option>13:00</option>
          <option>14:00</option>
          <option>15:00</option>
          <option>16:00</option>
          <option>17:00</option>
        </select>
      </div>

    <div class="form-group">
      <label for="name">Imie</label>
      <input type="text" class="form-control" id="name" placeholder="Wpisz swoje imie" name="imie" ngModel minlength="3" required #name="ngModel">
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors && name.errors['required']">Pole jest wymagane</div>
        <div *ngIf="name.errors && name.errors['minlength']">Pole powinno zawierać min. {{ name.errors && name.errors['minlength'].requiredLength }} znaki.</div>
    </div>
    </div>
    <div class="form-group">
      <label for="nazwisko">Nazwisko</label>
      <input type="text" class="form-control" id="nazwisko" placeholder="Wpisz swoje nazwisko" name="nazwisko" ngModel minlength="3" required #nazwisko="ngModel">
      <div class="alert alert-danger" *ngIf="nazwisko.touched && !nazwisko.valid">
        <div *ngIf="nazwisko.errors && nazwisko.errors['required']">Pole jest wymagane</div>
        <div *ngIf="nazwisko.errors && nazwisko.errors['minlength']">Pole powinno zawierac min. {{ nazwisko.errors && nazwisko.errors['minlength'].requiredLength }} znaki.</div>
    </div>
    </div>
    <div class="form-group">
      <label for="mail">Adres e-mail</label>
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="mail" placeholder="wpisz swój e-mail" name="mail" ngModel required #mail="ngModel">
      <div class="alert alert-danger" *ngIf="mail.touched && !mail.valid">
        <div *ngIf="mail.errors && mail.errors['required']">Pole jest wymagane</div>
        <div *ngIf="mail.errors && mail.errors['pattern']">Podaj prawidłowy adres e-mail</div>
    </div>
    </div>

    <div class="form-group">
      <label for="phone">Numer telefonu</label>
      <input type="tel" class="form-control" id="phone" placeholder="wpisz swój numer telefonu" name="phone" ngModel required minlength="9" #phone="ngModel">
      <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
        <div *ngIf="phone.errors && phone.errors['required']">Pole jest wymagane</div>
        <div *ngIf="phone.errors && phone.errors['minlength']">Wprowadź poprawny numer telefonu</div>
    </div>


    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Wiadomość</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Wpisz dodatkowe informacje" rows="3" name="wiadomosc" ngModel ></textarea>
    </div>


    <div class="row">
    <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary btn-lg">Zarezerwuj</button>
    </div>
  </div>
  </form>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
