<div class="container mt-100">




  <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" data-abc="true">
<div class="inner">
<div class="main-img"><img src=".\assets\Super73_RSD-Malibu_White_02_RtSide_Web.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Super73 RSD Malibu RX</h4>
<p class="text-muted">Super73 RSD Malibu RX to świetne połączenie postawy i stylu, które przykuwa uwagę wszystkich dookoła. Wyposażony jest w opony SUPER73 GRZLY, które umożliwiają rowerzystom jazdę w dowolnym miejscu, od pustynnych szlaków po dziurawe tereny miejskie, a regulowany amortyzator Fox zapewnia płynną jazdę. Inspirowany motoryzacją fotel zapewnia komfort podczas jazdy na bliskim i dalekim dystansie. Zestaw wydajnych hamulców hydraulicznych Magura zapewnia doskonałą siłę hamowania, na której można polegać w sytuacjach miejskich i na szlakach. Przeniesienie akumulatora obniżyło środek ciężkości i poprawiło prowadzenie, jednocześnie sprawiając, że rower wydaje się lżejszy.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" data-abc="true">
<div class="inner">
<div class="main-img"><img src=".\assets\xr1_01-500x333.jpg.pagespeed.ic.Y2y9n504N6.webp" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Ecobike SX300</h4>
<p class="text-muted">Poznaj Ecobike SX300. E-bike MTB, który łączy w sobie kontynuację fantastycznych osiągów z designem przyszłości. Ecobike SX300 charakteryzuje wyjątkowy design. Nowa autorska konstrukcja ramy sprawia, że e-bike natychmiast wpada w oko, ale znakomicie sprawdza się także w praktyce. Bateria stanowi integralną część ramy, całkowicie w niej przepadając, a geometria zapewnia świetny komfort, dobre rozłożenie masy i bezpieczeństwo.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" data-abc="true">
<div class="inner">
<div class="main-img"><img src=".\assets\xBasic-Nexus-500x333.jpg.pagespeed.ic.Smj0ECHDLD.webp" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">EcoBike Basic Nexus</h4>
<p class="text-muted">Rower EcoBike Basic Nexus jest rowerem miejskim, skonstruowanym do codziennego poruszania się po utwardzonych nawierzchniach terenu zabudowanego. Czy wiesz, że dojeżdżając codziennie do pracy 6 kilometrów przez cały rok przejedziesz ponad 3000km? Przejechanie takiej odległości nawet małym miejskim samochodem to koszty dochodzące do 1000zł, a doliczając jeszcze koszty serwisu i płatne strefy parkowania można dojść do wniosku, że jazda rowerem naprawdę się opłaca. Regularna aktywność fizyczna ma bardzo dobry wpływ zarówno na kondycję oraz samopoczucie. Rower elektryczny sprawi, że codzienne dojazdy do pracy staną się przyjemnością, a Ty zapomnisz o problemach ze znalezieniem miejsca postoju.</p>
</div>
</div>
</div>
</div>
</div>
