<header>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video>

<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
      <h1 class="display-3">VITO industries</h1>
      <p class="lead mb-0">"szeroka droga przed tobą"</p>
    </div>
  </div>
</div>

</header>


<div class="tab">
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="display-4 font-weight-bold" style="text-align:center">Jaki mamy cel?</h1>
      <p class="lead font-weight-lighter">Celem naszej firmy jest rozwój technologi pojazdów elektrycznych.
        Nasze produkty są innowacyjne i zbierają nagrody na całym świecie.
        Nasi klienci uwielbiają nasz design, a także jakość naszych produktów.
        Prowadzimy także opcje wypróbowania rowerów przed zakupem.
        Wystarczy, że umówisz się z nami na jazdę próbną, a my zajmiemy się resztą.
      </p>
  </div>
  <div class="col">
    <img src=".\assets\RX_CARMINE_RED_540x.webp" class="img-fluid" alt="Responsive image">
  </div>
  </div>
  <div class="row">
    <div class="col">
      <img src=".\assets\Super73_ZG_Jet_black_front_720x.webp" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md">
      <h1 class="display-4 font-weight-bold" style="text-align:center">Kim jesteśmy?</h1>

      <p class="lead font-weight-lighter">Nasza firma istnieje od roku 2018. W tym czasie zebraliśmy drużynę ambitnych i nowatorskich inzynierów którzy każdego dnia
        tworza innowacyjne projekty i produkty. Nasza firma od 4 lat prężnie pnie sie w rangach firm technologicznych w Polsce. Nasza siedziba znajduje się w Łodzi, na ul. Radwańskiej 42.

      </p>
  </div>

  </div>
  <div class="row"></div>
</div>
</div>


